
*{
    font-family :'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

div.sticky {
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    background-color: #78a399;
    color:white;
    text-align:right;
    width:100%;
    z-index: 1000;
  }
  ul.sticky {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #253833;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 48px;
    width:100%;
    border:none;
    z-index: 999; 
  }
  li.basket{
    float: right;
  }
  li.sticky{
    float: left;
  }
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
   

  }

  li a:hover {
    background-color: #679186;
  }
  .active {
    background-color: #78a399;
  }
  .sticky {
    font-size: 20px;


  }









a.contact{
 
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}








  
  .mySlides {display: none;}
img.slideshow {vertical-align: middle;
width:100%;
height:400px;
}

.slideshow-container {
    height:400px;
    position: relative;

  }
  
  
  .text {
    color: #f2f2f2;
    font-size: 30px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 50%;
    text-align: center;

    background: rgba(126, 172, 162, 0.8);  }
  

  
  .dot {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }

  .dot:hover{


    cursor: pointer;

  }
  
  .active {
    background-color: #717171;
  }
  
  
  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  



  .contact-section {
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    text-align: center;
}

.contact-section h2 {
    margin-bottom: 20px;
}

.contact-section p {
    font-size: 16px;
    color: #333;
}

.contact-section p a {
    color: #333;
    text-decoration: none;
}

.contact-section p a:hover {
    text-decoration: underline;
}

.about{
background-color: #253833;
color:#f2f2f2;
  border:solid #679186;
  border-radius: 5px;


}


.services{

  background-color: #253833;
  color:#f2f2f2;
    border:solid #679186;
    border-radius: 5px;

}

div.service{



    background-color: #89b6aa;
    color:#f2f2f2;
      border:solid #b3e2d6;
      border-radius: 5px;
      padding:20px;
      margin-bottom: 9px;
  
  
}

img.services{

width:200px;
height:150px;
float:left;
border-color:#253833;

}

p.login-request{
text-align:center;

}
a.log{
  color:#78a399;
  text-decoration: none;
}



h2.newpage{
  color:#2a6657;
}



h2.newpage:hover{

  cursor:pointer;
  text-decoration: underline;
}
p.green{
  color:#89b6aa;
}

.popup-background{

  background-color: #aadbce;
}
.ok-button{
  background-color: #89b6aa !important;
  border:none !important ;
  box-shadow: none !important;
}